.App {
  text-align: center;
  margin: 50px auto;
  max-width: 900px;
  min-height: 500px;
  background-color: rgb(109, 109, 163);
  border-radius: 12px;
}
.App h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 80px;
  color: rgb(248, 254, 244);
  text-align: center;
  padding: 20px;
  margin-top: -320px;
  margin-left: 350px;
}
.App h5 {
  font-family: serif;
  font-size: 50px;
  color: rgb(248, 254, 244);
  text-align: center;
  padding: 20px;
  margin-top: -350px;
  margin-left: 350px;
  margin-bottom: 290px;
}

.fluid-left {
  display: flex;
  justify-content: left;
  margin-left: 70px;
  margin-bottom: 150px;
  padding-top: 70px;
  border-radius: 12px;
}
footer {
  font-size: 13px;
  text-align: center;
  color: blanchedalmond;
  margin-top: 10px;
}

a {
  color: rgb(158, 183, 50);
  font-weight: bold;
}

@media (max-width: 900px) {
  .App {
    margin: -100px auto;
    max-height: 3000px;
  }
  .App h1 {
    font-size: 40px;
    margin-left: 280px;
  }

  .App h5 {
    font-size: 25px;
    margin-left: 280px;
  }

  .fluid-left {
    width: 170px;
    display: flex;
    padding-top: 150px;
    padding-bottom: 100px;
  }

  footer {
    font-size: 15px;
    margin-top: 20px;
  }
}

@media (max-width: 854px) {
  .App {
    max-height: 3000px;
  }

  .App h1 {
    font-size: 50px;
    margin-left: 267px;
    margin-bottom: 70px;
  }

  .App h5 {
    font-size: 45px;
    margin-left: 270px;
  }

  .fluid-left {
    width: 300px;
    margin-left: 39px;
    margin-bottom: 75px;
  }
}

@media (max-width: 574px) {
  .App {
    max-height: 3000px;
  }
  .App h1 {
    font-size: 30px;
    margin-left: 170px;
    margin-bottom: 70px;
  }

  .App h5 {
    font-size: 25px;
    margin-left: 170px;
  }

  .fluid-left {
    width: 150px;
    margin-left: 39px;
  }

  footer {
    font-size: 8px;
    margin-top: 30px;
  }
}

@media (max-width: 541px) {
  .App {
    max-height: 3000px;
  }
  .App h1 {
    font-size: 40px;
    margin-left: 250px;
  }

  .App h5 {
    font-size: 25px;
    margin-left: 270px;
    margin-top: -216px;
  }

  .fluid-left {
    width: 200px;
    margin-bottom: -10px;
  }

  footer {
    font-size: 15px;
    margin-top: 20px;
  }
}

@media (max-width: 431px) {
  .App {
    max-height: 3000px;
    min-height: 470px;
  }
  .App h1 {
    font-size: 28px;
    margin-left: 170px;
    margin-top: -315px;
    margin-bottom: 10px;
  }
}

.App h5 {
  font-size: 25px;
  margin-left: 170px;
}

.fluid-left {
  width: 150px;
  margin-left: 39px;
}

@media (max-width: 413px) {
  .App {
    max-height: 3000px;
    min-height: 470px;
  }
  .App h1 {
    font-size: 30px;
    margin-left: 170px;
    margin-top: -315px;
    margin-bottom: 10px;
  }

  .App h5 {
    font-size: 25px;
    margin-left: 170px;
  }

  .fluid-left {
    width: 150px;
    margin-left: 39px;
  }

  footer {
    font-size: 8px;
    margin-top: -20px;
  }
}

@media (max-width: 350px) {
  .App {
    max-height: 3000px;
  }
  footer {
    font-size: 8px;
    margin-top: 50px;
  }
}

@media (max-width: 345px) {
  .App {
    max-height: 3000px;
    min-height: 465px;
  }
  .App h1 {
    font-size: 25px;
    margin-left: 180px;
    margin-top: -325px;
    margin-bottom: -1px;
  }

  .App h5 {
    font-size: 20px;
    margin-left: 180px;
    margin-top: -200px;
  }
  footer {
    font-size: 8px;
    margin-top: -20px;
  }
}
