.App {
  text-align: center;
  margin: 50px auto;
  max-width: 800px;
  min-height: 400px;
  background-color: rgb(245, 240, 234);
  border-radius: 12px;
}

.App p {
  font-size: 75px;
  font-weight: bolder;
  font-style: italic;
  color: rgb(32, 87, 36);
  text-align: center;
  padding: 20px;
  margin-top: -150px;
  margin-left: 250px;
  margin-bottom: 50px;
  opacity: 0.8;
}

.fluid-left {
  display: flex;
  justify-content: left;
  margin-left: 50px;
  padding-top: 40px;
  border-radius: 12px;
}
