.App {
  background-color: rgb(109, 109, 163);
  margin: 70px;
  padding: 20px;
}

.App h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 80px;
  color: rgb(248, 254, 244);
  text-align: center;
  padding: 20px;
  margin-top: -510px;
  margin-right: -390px;
}
.App h5 {
  font-family: serif;
  font-size: 50px;
  color: rgb(248, 254, 244);
  text-align: center;
  padding: 20px;
  margin-top: -380px;
  margin-right: -410px;
  margin-bottom: 490px;
}

.App .fluid-left {
  width: 350px;
  display: flex;
  justify-content: left;
  margin-left: 70px;
  margin-bottom: 170px;
  padding-top: 70px;
}

footer {
  font-size: 13px;
  text-align: center;
  color: blanchedalmond;
  margin-top: 10px;
}

a {
  color: rgb(158, 183, 50);
  font-weight: bold;
}

@media (max-width: 1225px) {
  .App h1 {
    font-size: 90px;
    margin-bottom: 60px;
  }

  .App h5 {
    font-size: 45px;
  }
}

@media (max-width: 1225px) {
  .App h1 {
    font-size: 90px;
    margin-right: -150px;
    margin-bottom: 60px;
  }

  .App h5 {
    font-size: 45px;
    margin-right: -75px;
  }
}

@media (max-width: 1100px) {
  .App h1 {
    font-size: 70px;
    margin-right: -345px;
    margin-bottom: 60px;
  }

  .App h5 {
    font-size: 45px;
    margin-right: -190px;
  }
}

@media (max-width: 924px) {
  .App h1 {
    font-size: 50px;
    margin-right: -255px;
    margin-bottom: 60px;
  }

  .App h5 {
    font-size: 25px;
    margin-right: -120px;
    margin-top: -310px;
  }

  .App .fluid-left {
    width: 250px;
  }
}

@media (max-width: 800px) {
  .App h1 {
    font-size: 50px;
    margin-right: -220px;
    margin-bottom: 60px;
  }

  .App h5 {
    font-size: 35px;
    margin-right: -125px;
    margin-top: -300px;
  }
  .App .fluid-left {
    width: 180px;
  }
}

@media (max-width: 653px) {
  .App h1 {
    font-size: 30px;
    margin-right: -180px;
    margin-bottom: 60px;
  }

  .App h5 {
    font-size: 25px;
    margin-right: -125px;
    margin-top: -300px;
  }

  .App .fluid-left {
    width: 200px;
  }
}

@media (max-width: 550px) {
  .App {
    min-height: 750px;
    margin: 0;
    padding: 10px;
  }
  .App h1 {
    font-size: 30px;
    margin-right: -170px;

    margin-bottom: 20px;
  }

  .App h5 {
    font-size: 30px;
    margin-right: -145px;
    margin-top: -285px;
  }

  .App .fluid-left {
    width: 140px;
  }
  footer {
    font-size: 6px;
    margin-top: 10px;
  }
}

@media (max-width: 450px) {
  .App .fluid-left {
    width: 140px;
    margin-left: 26px;
  }
}
