.Dictionary section {
  background: #eaeaeb;
  border-radius: 10px;
  box-shadow: rgba(103, 107, 111, 0.2) 0px 8px 24px;
  max-width: 90%;
  margin: 30px 70px;
  padding: 30px;
}

.Dictionary .SearchInput {
  color: rgb(49, 14, 109);
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  border-radius: 12px;
  padding: 10px 250px;
  border: 2px solid rgb(167, 70, 70);
}

.Dictionary .Submit {
  margin-left: 12px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 12px;
  padding: 10px 55px;
  background-color: rgb(49, 14, 109);
  color: rgb(239, 244, 245);
  border: none;
}

@media (max-width: 1225px) {
  .Dictionary .SearchInput {
    padding: 10px 150px;
  }

  .Dictionary .Submit {
    padding: 10px 55px;
  }
}

@media (max-width: 1102px) {
  .Dictionary .SearchInput {
    padding: 10px 110px;
  }

  .Dictionary .Submit {
    padding: 10px 55px;
  }
}

@media (max-width: 924px) {
  .Dictionary .SearchInput {
    padding: 10px 70px;
  }
  .Dictionary .Submit {
    padding: 10px 35px;
  }
}

@media (max-width: 808px) {
  .Dictionary .SearchInput {
    padding: 10px 50px;
  }
  .Dictionary .Submit {
    padding: 10px 25px;
  }
}

@media (max-width: 744px) {
  .Dictionary .SearchInput {
    padding: 10px 20px;
  }
  .Dictionary .Submit {
    padding: 10px 10px;
  }
}

@media (max-width: 653px) {
  .Dictionary .SearchInput {
    padding: 10px 15px;
  }
  .Dictionary .Submit {
    padding: 10px 5px;
  }
}

@media (max-width: 653px) {
  .Dictionary .SearchInput {
    padding: 10px 15px;
    font-size: 12px;
  }
  .Dictionary .Submit {
    padding: 10px 8px;
    font-size: 12px;
  }
}

@media (max-width: 515px) {
  .Dictionary .SearchInput {
    padding: 10px 8px;
    font-size: 12px;
  }
  .Dictionary .Submit {
    padding: 10px 30px;
    font-size: 12px;
    margin-top: 8px;
    margin-left: 50px;
  }
}
