.Dictionary .SearchInput {
  color: rgb(79, 31, 71);
  font-size: 25px;
  font-weight: bold;
  border-radius: 12px;
  padding: 10px 80px;
  border: 2px solid rgb(165, 66, 99);
}

.Dictionary .Submit {
  margin-left: 12px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 12px;
  padding: 10px 60px;
  background-color: rgb(118, 44, 188);
  color: blanchedalmond;
  border: none;
}
