.Dictionary section {
  background: #eaeaeb;
  border-radius: 10px;
  box-shadow: rgba(103, 107, 111, 0.2) 0px 8px 24px;
  max-width: 780px;
  margin: 30px 70px;
  padding: 30px;
}

.Dictionary .SearchInput {
  color: rgb(49, 14, 109);
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  border-radius: 12px;
  padding: 10px 90px;
  border: 2px solid rgb(167, 70, 70);
}

.Dictionary .Submit {
  margin-left: 12px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 12px;
  padding: 10px 55px;
  background-color: rgb(49, 14, 109);
  color: rgb(239, 244, 245);
  border: none;
}

@media (max-width: 900px) {
  .Dictionary section {
    margin: 35px;
  }

  .Dictionary .Submit {
    padding: 10px 40px;
    font-size: 12px;
    margin: 5px;
  }

  .Dictionary .SearchInput {
    padding: 10px 70px;
    font-size: 12px;
  }
}

@media (max-width: 574px) {
  .Dictionary .Submit {
    padding: 8px 12px;
    font-size: 8px;
    margin: 5px;
  }

  .Dictionary .SearchInput {
    padding: 8px 35px;
    font-size: 8px;
  }
}

@media (max-width: 376px) {
  .Dictionary .Submit {
    padding: 8px 105x;
    font-size: 8px;
    margin: 5px;
  }

  .Dictionary .SearchInput {
    padding: 8px 10px;
    font-size: 8px;
  }
}

@media (max-width: 350px) {
  .Dictionary .Submit {
    padding: 8px 8px;
    font-size: 8px;
    margin: 5px;
  }

  .Dictionary .SearchInput {
    padding: 8px 10px;
    font-size: 8px;
  }
}
