.Phonetics {
  margin: 15px;
}

.Phonetics a {
  font-size: 15px;
  font-weight: 500;
  color: rgb(49, 14, 109);
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 13px;
  border-radius: 20px;
  margin-top: -10px;
  margin-left: -535px;
  transition: all 450ms ease-in-out;
}

.Phonetics a:hover {
  background-color: rgb(49, 14, 109);
  color: rgb(250, 247, 247);
  border: none;
}

.Phonetics .text {
  opacity: 0.8;
  color: rgb(23, 85, 23);
}

@media (max-width: 900px) {
  .Phonetics a {
    margin-left: -335px;
  }
}

@media (max-width: 574px) {
  .Phonetics a {
    margin-left: -90px;
  }
}
