.Phonetics {
  margin: 15px;
}

.Phonetics a {
  font-size: 15px;
  font-weight: 500;
  color: rgb(49, 14, 109);
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 13px;
  border-radius: 20px;
  margin-top: -10px;
  margin-left: -535px;
  transition: all 450ms ease-in-out;
}

.Phonetics a:hover {
  background-color: rgb(49, 14, 109);
  color: rgb(250, 247, 247);
  border: none;
}

.Phonetics .text {
  opacity: 0.8;
  color: rgb(23, 85, 23);
}

@media (max-width: 1281px) {
  .Phonetics a {
    margin-left: -561px;
  }
}

@media (max-width: 1025px) {
  .Phonetics a {
    margin-left: -560px;
  }
}

@media (max-width: 900px) {
  .Phonetics a {
    margin-left: -498px;
  }
}

@media (max-width: 854px) {
  .Phonetics a {
    margin-left: -565px;
  }
}

@media (max-width: 821px) {
  .Phonetics a {
    margin-left: -529px;
  }
}

@media (max-width: 769px) {
  .Phonetics a {
    margin-left: -501px;
  }
}

@media (max-width: 574px) {
  .Phonetics a {
    margin-left: -121px;
  }
}

@media (max-width: 541px) {
  .Phonetics a {
    margin-left: -270px;
  }
}

@media (max-width: 431px) {
  .Phonetics a {
    margin-right: -5px;
  }
  .Phonetics .text {
    margin-right: -90px;
  }
}

@media (max-width: 415px) {
  .Phonetics a {
    margin-right: -5px;
  }
  .Phonetics .text {
    margin-right: -110px;
  }
}

@media (max-width: 391px) {
  .Phonetics a {
    margin-right: -5px;
  }
  .Phonetics .text {
    margin-right: -128px;
  }
}

@media (max-width: 376px) {
  .Phonetics a {
    margin-right: -5px;
  }
  .Phonetics .text {
    margin-right: -145px;
  }
}

@media (max-width: 360px) {
  .Phonetics a {
    margin-right: -5px;
  }
  .Phonetics .text {
    margin-right: -160px;
  }
}

@media (max-width: 345px) {
  .Phonetics a {
    margin-left: -73px;
  }
}
