.results .word {
  color: rgb(49, 14, 109);
  font-size: 35px;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 40px;
  margin-left: 20px;
  text-align: left;
}

.results .phonetics {
  color: rgb(62, 102, 60);
  opacity: 0.7;
  font-size: 35px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 20px;
  text-align: left;
}
