.Synonyms .synonyms {
  color: rgb(49, 14, 109);
  text-align: left;
  font-size: 20px;
  margin-left: 20px;
}

.Synonyms li {
  display: inline-block;
  padding: 10px;
  line-height: 1;
  margin: 8px;
  border: 1px solid rgb(194, 191, 191);
  border-radius: 15px;
  background-color: rgb(219, 219, 221);
}
